extends ../../core/views/layouts/default.pug

include ../../core/views/mixins/_alert.pug

block head

block content
  .row#board
    each order in orders
      .col-sm-12.col-md-4(id=`order-${order.id}`)
        .card
          .card-header Table ##{order.table_num}
          .card-body
            table.table.table-responsive-sm.no-fst-border
              tbody
                each detail in order.orderDetail
                  tr
                    td #{detail.food.name} x#{detail.quantity}
                    td Rp#{detail.unit_price*detail.quantity}
            .row
              .col-3
                button.btn.btn-sm.btn-primary(onclick=`payOrder(${order.id})`) Paid
              .col-9.text-right Rp#{order.total}

block script
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript').
    function payOrder(id) {
      $.ajax({
        type: 'PATCH',
        url: `/orders/pay/${id}`
      })
        .done(function () {
          $('#order-'+id).remove();
        })
        .fail(function () {
          alert('Something is wrong. Try again couple seconds later');
          // $('.card-body:first').prepend('<div class="alert alert-dismissible fade show alert-danger" role="alert">' +
          //   '<button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>' +
          //   'Something is wrong. Try a couple seconds later' +
          //   '</div>');
          // $('html, body').animate({scrollTop: $('.alert').offset().top}, 'fast');
        });
    }

    function loadOrders() {
      var lastIdOnBoard = Number($('#board').children().last().attr('id').replace('order-', ''));
      $.get(`/orders/payOrdersFrom/${lastIdOnBoard}`)
        .done(function (orders) {
          orders.forEach(function (order) {
            if ($('#order-' + order.id).length) return;
            var html = '<div id="order-' + order.id + '" class="col-sm-12 col-md-4">' +
              '<div class="card"><div class="card-header">Table #' + order.table_num + '</div>' +
              '<div class="card-body"><table class="table table-responsive-sm no-fst-border"><tbody>';
            order.orderDetail.forEach(function (detail) {
              html += '<tr><td>' + detail.food.name + ' x'+detail.quantity+'</td><td>Rp' + detail.unit_price*detail.quantity + '</td></tr>';
            });
            html += '</tbody></table><div class="row"><div class="col-3">' +
              '<button class="btn btn-sm btn-primary" onclick="orderDone(' + order.id + ')">Paid</button></div>' +
              '<div class="col-9 text-right">Rp'+order.total+'</div>' +
              '</div></div></div></div>';
            $('#board').append(html);
          });
        });
    }

    $(function () {
      var socket = io.connect('http://localhost:4000');
      socket.on('cookedOrder', function (data) {
        loadOrders(data.orderId)
        console.log(data);
      });
      socket.on('error', function (err) {
        console.log(err);
      });
    });

